BODY {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    font-family: "Roboto";
    width: 100%;
    height: 100%;
}

H1 {
    font-size: 4.5vmax;
    font-weight: 200;
}

H2 {
    font-size: 4.5vmax;
    font-weight: bolder;
}

.title{
    position: absolute;
    color: #FFFFDD;
    text-align: center;
    font-family: 'Roboto';
    width: 100%;
    height: auto;

    font-size: 1.5vmax;
    margin: auto;
    top: 2vh;
    right: 0;
    left: 0;
}

.mainParagraph {
    position: absolute;
    margin: auto;
    top: 5vh;
    bottom: 30vh;
    left: 0;
    right: 25vw;

    width: 50vw;
    height: 200px;
    padding: 20px;
    text-align: left;
}

.description {
    font-size: 12pt;
    text-align: justify
}

.mainParagraph p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.topSection {
    color: #FFFFDD;    
    position: absolute;
    margin: 0px;
    background-color: #202020;
    width: 100%;
    height: 80vh;
}

.bottomSection {
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0px;

    color: #202020;
    background-color: #FFFFDD;
}

.threeDots {
    position: absolute;
    margin: auto;
    bottom: 2%;
    right: 0;
    left: 0;

    width: 250px;

    text-align: center;

    font-size: 9pt;
}

.size {
    width: 31px;
    height: 9px;
}

.menus{
    color: #FFFFDD;
    background-color: #202020;
    
    right: 0px;
    text-align: right;
    font-weight: 200;
    padding: 2vh;
}

.menus table{
    margin-left: auto;
}

.menus tr td{
    padding-right: 2vw;
    text-align: center;
    vertical-align: middle;
}


.menus button,
.menus button:focus,
.menus button:active{
    background-color: #202020;
    color: #FFFFDD;
    outline:none;
    border:none;

    font-size: 1vmax;
    font-family: "Roboto";
    font-weight: bolder;
}

.about-BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFDD;
    color: #202020;
}

.about-mainPar {
    padding: 0px !important;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;

    overflow: hidden;
    width: 75vw;
    height: 80vh;
    padding: 20px;
    text-align: center;
}

.about-image{
    width: 25vmin;
    height: auto;
    border-radius: 50%;
    border: 5px solid #202020;
}

.about-tagLine{
    margin: auto;
    display: block;
    border-top: 2px double #202020;
    border-bottom: 2px double #202020;
    width: 100%;

    font-size: 6vmin;
}

.content {
    text-align: justify;
    font-size: 2.5vmin;
}

.projects {
    background-color: #FFFFDD;
    height: 100%;
    width: 100%;
}

.slide {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    color: #FFFFDD;

    height: 75%;
    width: 75%;
    background-color: #202020;
    border-radius: 5px;
}


.slide H1 {
    text-align: center;
    font-size: 7.5vmin;
    font-weight: 300;
    margin: 3vmin;
    height: 7.5vmin;
}

.slide H2 {
    height: 5vmin;
    font-size: 4vmin;
    overflow: hidden;
    text-align: center;
    font-weight: 200;
    margin: 3vmin;
}

.slide div div {
    overflow: hidden;
    height: 35vmin;
    margin-bottom: 2vh;
}

.slide div P {
    font-size: 2.25vmin;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 10vmin;
    margin-left: 10vmin;
    text-align: justify;
}

.buttons {
    text-align: center;
}

.buttons table {
    display: inline;
}


.buttons table tr td {
    width: 50%;
    align-content: center;
}

.buttons button,
.buttons button:focus,
.buttons button:active{
    border: 3px solid black;
    border-radius: 50px;

    background-color: #FFFFDD;
    color: #202020;
    outline:none;

    padding: 3vmin;
    font-family: "Roboto";
    font-size: 2.25vmin;
    font-weight: bolder;
}


.rightArrow {
    width: 2.5vmin;
    height: 5vmin;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 10px;
}

.leftArrow {
    width: 2.5vmin;
    height: 5vmin;

    position: absolute;
    margin: auto;
    top: 0;
    left: 10px;
    bottom: 0;
}
